.formContainer{
    background-color: #0d045d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding:20px 60px ;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #d13e3e;
            font-weight: bold;
            font-size: 24px;
        }

        .title{
            color: #d13e3e;
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #0d045d;
                &::placeholder{
                    color: rgb(175,175,175);
                }
            }
            button{
                background-color: #4d3dd6;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #4d3dd6;
                font-size: 12px;
            }

            img{
                height: 32px;
                width: 32px;
            }
        }
        p{
           color: #d13e3e;
           font-size: 12px;
           margin-top: 10px;
        }
    }
}